In [ ]:
Esercizi lezione 4
Esercizio 1/3
quanto segue:
Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo
• Quanti dati ci sono in totale?
• Quali sono i metadati?
• Stampiamo il primo elemento
• Stampiamo l'ultimo elemento
• Riusciamo a stampare cinque elementi a caso?
• Quali sono i colori disponibili?
2
Esercizio 2/3
• In media quanto pesano i prodotti (per questo esercizio, ignoriamo l'unità di
misura, ma usiamo solo i valori della colonna relativa)?
• Quanto pesa il più leggero?
• Quanto pesa il più pesante?
• Quanti prodotti pesano più di 100?
• Quanto costano in media i prodotti (colonna DealerPrice)?
• Quali sono i quartili dei prezzi?
3
Esercizio 3/3
• Qual è il prezzo medio per i prodotti di colore blu?
• Qual è il prezzo medio per i prodotti di colore rosso o nero?
• Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
• Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i
prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
• Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi
del dataset: quali sono le differenze? C'è un pattern? C'è qualche elemento
che non lo segue?
4
Esercizio
Tra i beginner datasets scaricabili all'indirizzo
https://www.kaggle.com/datasets/ahmettezcantekin/beginner-datasets
selezioniamo amazon.csv, un dataset contenente una serie di recensioni su
Amazon.
• Valutiamo la dimensione del dataset
• Visualizziamo dieci righe a caso;
• Osserviamo quali sono i nomi di colonna;
• Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a
quello delle negative, oppure no?
5
Esercizio
Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di
diverse variabili fisiologiche dei pazienti.
• Osserviamone le dimensioni e un'anteprima di cinque righe;
• Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne;
• Stampiamo dei descrittori statistici del dataset;
• Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50;
• Qual è la media della pressione sanguigna diastolica per le diverse fasce di
età?
6
Esercizio
Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini
delle persone, e della zona in cui vivono, rispetto ai costi individuali per le cure
mediche come premio per le assicurazioni sulla salute.
• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
• Quali sono le medie di charges rispetto a region? Ci sono differenze
significative?
• E rispetto a smoker? E a sex?
• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e
massimo di charges rispetto ai diversi quartili dei valori di bmi?
7
Esercizio 1/2
Il dataset pokemon.csv contiene un database di Pokémon, con dati quali
nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno
leggendari.
• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
• È verosimile che la prima colonna dovrebbe essere un indice?
• Confrontiamolo con l'indice messo automaticamente da Pandas:
combaciano?
• Se no, settare la prima colonna come indice.
8
Esercizio 2/2
• Quali sono i Pokémon leggendari?
• E quali sono i leggendari di tipo 1 Grass?
• E leggendari di tipo 1 Ice o Fire?
• Trasformiamo la colonna Name nell'indice;
• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
9
GRAZIE
Epicode

#### `Esercizio 1/3` 
Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo     • Quanti dati ci sono in totale? • Quali sono i metadati? • Stampiamo il primo elemento • Stampiamo l'ultimo elemento • Riusciamo a stampare cinque elementi a caso? • Quali sono i colori disponibili?

In [6]:
import os


import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(dotenv_path="cred.env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"

db_engine = sqlalchemy.create_engine(connection_string)

In [4]:
print(connection_string)

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [7]:
query = "SELECT * FROM dimproduct"
dimproduct = pd.read_sql(query, db_engine) #funzione pandas

In [8]:
dimproduct

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [9]:
dimproduct.shape #dati in totale

(606, 36)

In [10]:
dimproduct.columns # i metadati

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [11]:
dimproduct.head(1) #primo elemento

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [12]:
dimproduct.iloc[0] #lavora sulle posizioni

ProductKey                                                               1
ProductAlternateKey                                                AR-5381
ProductSubcategoryKey                                                  NaN
WeightUnitMeasureCode                                                 None
SizeUnitMeasureCode                                                   None
EnglishProductName                                         Adjustable Race
SpanishProductName
FrenchProductName
StandardCost                                                           NaN
FinishedGoodsFlag                                                        0
Color                                                                   NA
SafetyStockLevel                                                      1000
ReorderPoint                                                           750
ListPrice                                                              NaN
Size                                                                  None
SizeRange                                                               NA
Weight                                                                 NaN
DaysToManufacture                                                        0
ProductLine                                                           None
DealerPrice                                                            NaN
Class                                                                 None
Style                                                                 None
ModelName                                                             None
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x...
EnglishDescription                                                    None
FrenchDescription                                                     None
ChineseDescription                                                    None
ArabicDescription                                                     None
HebrewDescription                                                     None
ThaiDescription                                                       None
GermanDescription                                                     None
JapaneseDescription                                                   None
TurkishDescription                                                    None
StartDate                                              2003-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 0, dtype: object

In [13]:
dimproduct.tail(1) #ultimo elemento

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [14]:
dimproduct.iloc[605]

ProductKey                                                             606
ProductAlternateKey                                             BK-R19B-52
ProductSubcategoryKey                                                  2.0
WeightUnitMeasureCode                                                   LB
SizeUnitMeasureCode                                                     CM
EnglishProductName                                      Road-750 Black, 52
SpanishProductName                               Carretera: 750, negra, 52
FrenchProductName                               Vélo de route 750 noir, 52
StandardCost                                                        343.65
FinishedGoodsFlag                                                        1
Color                                                                Black
SafetyStockLevel                                                       100
ReorderPoint                                                            75
ListPrice                                                           539.99
Size                                                                    52
SizeRange                                                         48-52 CM
Weight                                                               20.42
DaysToManufacture                                                        4
ProductLine                                                              R
DealerPrice                                                        323.994
Class                                                                    L
Style                                                                    U
ModelName                                                         Road-750
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x8avw\xf7...
EnglishDescription       Entry level adult bike; offers a comfortable r...
FrenchDescription        Vélo d'adulte d'entrée de gamme ; permet une c...
ChineseDescription                       入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
ArabicDescription        إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
HebrewDescription        אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
ThaiDescription          จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
GermanDescription        Ein Erwachsenenrad für Einsteiger; bietet Komf...
JapaneseDescription      エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
TurkishDescription       "Başlangıç seviyesinde yetişkin bisikleti, kır...
StartDate                                              2013-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 605, dtype: object

In [15]:
dimproduct.sample(5) #stampare cinque elementi a caso

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
583,584,BK-R19B-58,2.0,LB,CM,"Road-750 Black, 58","Carretera: 750, negra, 58","Vélo de route 750 noir, 58",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
290,291,FR-M94S-44,12.0,LB,CM,"HL Mountain Frame - Silver, 44",,,706.81,1,...,每个车架都是在我们位于 Bothell 的工厂中手工制作，具有高质量山地车架所必需的最佳直径...,وقد تم تصنيع كل هيكل من تلك الهياكل يدويًا في ...,"כל מסגרת מיוצרת ידנית במפעל שלנו ב- Bothell, ל...",เฟรมแต่ละชิ้นผ่านการสร้างด้วยมือในโรงงาน Bothe...,"""Jeder Rahmen wird in unserem Werk in Braunsfe...",各フレームは、Bothell 工場で最高級のマウンテン バイクのフレームに必要な最適径および...,"""Her bir kadro Bothell tesisimizde, birinci sı...",2011-07-01,2007-12-28,None
355,356,BK-M68S-46,1.0,LB,CM,"Mountain-200 Silver, 46","Montaña: 200, plateada, 46","VTT 200 argent, 46",1117.86,1,...,适用于环境恶劣的野外骑乘。可应对各种比赛的完美赛车。使用与 Mountain-100 相同的...,لقيادة المحترفين في المناطق الريفية. دراجة مُث...,לרכיבה רצינית בשטחים נידחים. מתאימים לכל רמה ש...,สำหรับการขี่ในเส้นทางผจญภัย เหมาะที่สุดสำหรับ...,Mountainbike für Profis. Perfekt für alle Schw...,バック カントリーまたは全レベルの競技用で、Mountain-100 と同じ HL フレーム...,Gerçek arazi sürüşü. Tüm yarışma seviyeleri iç...,2012-07-01,2008-12-27,None
50,51,HJ-7162,NaN,None,None,Thin-Jam Hex Nut 8,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
54,55,HN-1032,NaN,None,None,Hex Nut 6,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [16]:
#colori disponibili
dimproduct.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [17]:
#che colori ci sono
dimproduct["Color"].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [18]:
dimproduct["Color"].value_counts()

Color
NA              254
Black           133
Red              63
Silver           52
Yellow           46
Blue             28
Multi            18
Silver/Black      7
White             4
Grey              1
Name: count, dtype: int64

***

#### `Esercizio 2/3` 
• In media quanto pesano i prodotti (per questo esercizio, ignoriamo l'unità di misura, ma usiamo solo i valori della colonna relativa)? • Quanto pesa il più leggero? • Quanto pesa il più pesante? • Quanti prodotti pesano più di 100? • Quanto costano in media i prodotti (colonna DealerPrice)? • Quali sono i quartili dei prezzi?

In [19]:
print(f"il peso medio dei prodotti è di {round(dimproduct["Weight"].mean(),2)}")

il peso medio dei prodotti è di 56.19

In [20]:
print(f"il prodotto più leggero è di {dimproduct["Weight"].min()}")

il prodotto più leggero è di 2.12

In [21]:
print(f"il prodotto più pesante è di {dimproduct["Weight"].max()}")

il prodotto più pesante è di 1050.0

In [22]:
filtro = dimproduct["Weight"] >100
peso_magg_100 = dimproduct.loc[filtro, "Weight"] #manipulazione dati specifici [righe,colonne]
tot_prod_100passa = dimproduct.loc[filtro, "Weight"].shape

print(f"Ci sono in totale {tot_prod_100passa} prodotti con peso oltre i 100 e sono:")
print(peso_magg_100)

Ci sono in totale (28,) prodotti con peso oltre i 100 e sono:
179     435.0
180     450.0
181     400.0
182     445.0
183     450.0
184     400.0
185     460.0
412     900.0
413     850.0
414     650.0
421    1050.0
422    1000.0
423     890.0
500     215.0
513     317.0
541     218.0
542     215.0
543     185.0
544     189.0
545     168.0
546     149.0
554     317.0
555     600.0
556     635.0
557     575.0
600     223.0
601     168.0
602     170.0
Name: Weight, dtype: float64

In [23]:
print(f"di media i prodotti costano: {round(dimproduct["DealerPrice"].mean(), 2)}")

di media i prodotti costano: 448.6

In [24]:
dimproduct["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [25]:
dimproduct["DealerPrice"].quantile(0.25) #calcola i quantili

np.float64(41.994)

#### `Esercizio 3/3`
• Qual è il prezzo medio per i prodotti di colore blu?
• Qual è il prezzo medio per i prodotti di colore rosso o nero?
• Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
• Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i
prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
• Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi
del dataset: quali sono le differenze? C'è un pattern? C'è qualche elemento
che non lo segue?

In [26]:
#prezzo medio per i prodotti di colore blu
filtro = dimproduct["Color"] == "Blue"

prezzo_medio_blue = round(dimproduct.loc[ filtro, "DealerPrice"].mean(), 2)

print(f"Il prezzo medio dei prodotti di colore blue è {prezzo_medio_blue}")
dimproduct.loc[ filtro, "DealerPrice"]

Il prezzo medio dei prodotti di colore blue è 516.06

219      20.1865
220      20.1865
221      20.9940
470      38.1000
471      38.1000
472      38.1000
496     602.3460
497     602.3460
498     602.3460
499     602.3460
501     200.0520
502     200.0520
503     200.0520
504     200.0520
509     200.0520
559     728.9100
564     445.4100
565     445.4100
566     445.4100
572    1430.4420
573    1430.4420
574    1430.4420
575    1430.4420
576     728.9100
577     728.9100
578     728.9100
584     445.4100
585     445.4100
Name: DealerPrice, dtype: float64

In [27]:
#il prezzo medio per i prodotti di colore rosso o nero
filtro_red = dimproduct["Color"] == "Red"
filtro_black = dimproduct["Color"] == "Black"
filtro = filtro_red | filtro_black #|=oppure/or (pipe),  &=and , ~=not

prezzo_medio = round(dimproduct.loc[ filtro, "DealerPrice"].mean(), 2)

print(f"Il prezzo medio dei prodotti di colore rosso o nero è {prezzo_medio}")
dimproduct.loc[ filtro, "DealerPrice"]

Il prezzo medio dei prodotti di colore rosso o nero è 550.25

5          NaN
6          NaN
7          NaN
10         NaN
209        NaN
        ...
598    323.994
599    323.994
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 196, dtype: float64

In [28]:
#il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg

filtro_peso = dimproduct["Weight"] > 10
filtro_taglio = dimproduct["Size"] == "42" #Size è ua stringa contorlo con "dimproduct.dtypes"
filtro = filtro_peso & filtro_taglio

prezzo_max = dimproduct.loc[ filtro, "DealerPrice"].max()

print(f"il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg è di {prezzo_max}")

il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg è di 2039.994

In [29]:
 # il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento

filtro_peso = dimproduct["Weight"] > 10
filtro_taglio = dimproduct["Size"] == "42" 
filtro_colore = dimproduct["Color"] == "Silver"
filtro = filtro_peso & filtro_taglio & filtro_colore

dimproduct.loc[ filtro, ["EnglishProductName", "StandardCost"]]

            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22

In [30]:
 #lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: quali sono le differenze? C'è un pattern? C'è qualche elemento che non lo segue?

dimproduct.tail(20).loc[:,["DealerPrice", "StandardCost"]] #: tutta le righe

     DealerPrice  StandardCost
586      461.694        419.78
587      461.694        419.78
588      461.694        419.78
589      461.694        419.78
590      338.994        308.22
591      338.994        308.22
592      338.994        308.22
593      338.994        308.22
594      338.994        308.22
595      323.994        294.58
596      323.994        294.58
597      323.994        294.58
598      323.994        294.58
599      323.994        294.58
600       32.394         23.97
601       60.744         44.95
602       72.894         53.94
603      323.994        343.65
604      323.994        343.65
605      323.994        343.65

#### `Esercizio 4.`
Tra i beginner datasets scaricabili all'indirizzo
https://www.kaggle.com/datasets/ahmettezcantekin/beginner-datasets
selezioniamo amazon.csv, un dataset contenente una serie di recensioni su
Amazon.
• Valutiamo la dimensione del dataset
• Visualizziamo dieci righe a caso;
• Osserviamo quali sono i nomi di colonna;
• Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a
quello delle negative, oppure no? `non è bilanciato`

In [31]:
 amazon = pd.read_csv("/Users/lalainegubaton/Downloads/beginner_datasets/amazon.csv")

In [32]:
amazon

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
1      This is a pretty good version of the game for ...         1
2      this is a really cool game. there are a bunch ...         1
3      This is a silly game and can be frustrating, b...         1
4      This is a terrific game on any pad. Hrs of fun...         1
...                                                  ...       ...
19995  this app is fricken stupid.it froze on the kin...         0
19996  Please add me!!!!! I need neighbors! Ginger101...         1
19997  love it!  this game. is awesome. wish it had m...         1
19998  I love love love this app on my side of fashio...         1
19999  This game is a rip off. Here is a list of thin...         0

[20000 rows x 2 columns]

In [33]:
amazon.dtypes

reviewText    object
Positive       int64
dtype: object

In [34]:
amazon["Positive"].unique()

array([1, 0])

In [35]:
amazon.shape

(20000, 2)

In [36]:
amazon.sample(10)

                                              reviewText  Positive
15709  I could not figure out how this app was suppos...         0
4261   The built in camera app is DOA.  if you can ge...         0
2481   its a good game dont lissen to all those other...         1
10626  I only got the free app of this live wallpaper...         1
965    help! help! little Timmy is stuck in the well!...         1
16387  I like this gamefun and easy to use  I had bub...         1
17136  A great little puzzle game that plays on color...         1
16848  Keeping it real, this review is only for the a...         1
10160  I couldn't tell you bad nor good. It never wor...         0
9291   This free app is well worth downloading!  I bo...         1

In [37]:
amazon.columns

Index(['reviewText', 'Positive'], dtype='object')

In [38]:
amazon["Positive"].value_counts()

Positive
1    15233
0     4767
Name: count, dtype: int64

#### `Esercizio 5.`
Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di
diverse variabili fisiologiche dei pazienti.
• Osserviamone le dimensioni e un'anteprima di cinque righe;
• Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne;
• Stampiamo dei descrittori statistici del dataset;
• Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50;
• Qual è la media della pressione sanguigna diastolica per le diverse fasce di
età?

In [39]:
diabetes = pd.read_csv("/Users/lalainegubaton/Downloads/beginner_datasets/diabetes.csv")

In [40]:
diabetes

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [41]:
diabetes.dtypes

Number of times pregnant                                                      int64
Plasma glucose concentration a 2 hours in an oral glucose tolerance test      int64
Diastolic blood pressure (mm Hg)                                              int64
Triceps skin fold thickness (mm)                                              int64
2-Hour serum insulin (mu U/ml)                                                int64
Body mass index (weight in kg/(height in m)^2)                              float64
Diabetes pedigree function                                                  float64
Age (years)                                                                   int64
Class variable                                                                int64
dtype: object

In [42]:
diabetes.head(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [43]:
diabetes.shape

(768, 9)

In [44]:
diabetes.describe() #descrittori statistici del dataset

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [45]:
#dati relativi a diverse fasce di età: 20-29, 30-39, 40-50
#la media della pressione sanguigna diastolica

filtro_eta_min = diabetes["Age (years)"] >=20
filtro_eta_max = diabetes["Age (years)"] <=29
filtro = filtro_eta_min & filtro_eta_max

media = round(diabetes.loc[filtro,"Diastolic blood pressure (mm Hg)"].mean(), 2)

print(f"La media della pressione sanguigna diastolica per la fascia di età tra 20 e 29 è {media}")

La media della pressione sanguigna diastolica per la fascia di età tra 20 e 29 è 65.35

In [46]:

filtro_eta_min = diabetes["Age (years)"] >= 30
filtro_eta_max = diabetes["Age (years)"] <= 39
filtro = filtro_eta_min & filtro_eta_max

media = round(diabetes.loc[filtro,"Diastolic blood pressure (mm Hg)"].mean(), 2)

print(f"La media della pressione sanguigna diastolica per la fascia di età tra 30 e 39 è {media}")

La media della pressione sanguigna diastolica per la fascia di età tra 30 e 39 è 69.67

In [47]:

filtro_eta_min = diabetes["Age (years)"] >= 40
filtro_eta_max = diabetes["Age (years)"] <= 49
filtro = filtro_eta_min & filtro_eta_max

media = round(diabetes.loc[filtro,"Diastolic blood pressure (mm Hg)"].mean(), 2)

print(f"La media della pressione sanguigna diastolica per la fascia di età tra 40 e 49 è {media}")

La media della pressione sanguigna diastolica per la fascia di età tra 40 e 49 è 73.94

#### `Esercizio 6.`
Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini
delle persone, e della zona in cui vivono, rispetto ai costi individuali per le cure
mediche come premio per le assicurazioni sulla salute.
• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
• Quali sono le medie di charges rispetto a region? Ci sono differenze
significative?
• E rispetto a smoker? E a sex?
• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e
massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [85]:
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
insurance = pd.read_csv("/Users/lalainegubaton/Downloads/beginner_datasets/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [91]:
insurance.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [82]:
insurance.shape

(1338, 7)

In [93]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

#### `Esercizio 7.1/2`
Il dataset pokemon.csv contiene un database di Pokémon, con dati quali
nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno
leggendari.
• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
• È verosimile che la prima colonna dovrebbe essere un indice?
• Confrontiamolo con l'indice messo automaticamente da Pandas:
combaciano?
• Se no, settare la prima colonna come indice.

In [48]:
pokemon = pd.read_csv("/Users/lalainegubaton/Downloads/beginner_datasets/pokemon.csv")

In [54]:
#Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [50]:
pokemon.shape

(800, 13)

In [53]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

 ##### È verosimile che la prima colonna dovrebbe essere un indice? `Tiene un altro indicazione non conforme al indicizzazione del linguaggio Python. Non combaicia quello dato dalla liberia Pandas.`

In [57]:
pokemon = pd.read_csv("/Users/lalainegubaton/Downloads/beginner_datasets/pokemon.csv", index_col = 0)
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### `Esercizio 8.2/2`
• Quali sono i Pokémon leggendari?
• E quali sono i leggendari di tipo 1 Grass?
• E leggendari di tipo 1 Ice o Fire?
• Trasformiamo la colonna Name nell'indice;
• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

In [64]:
print(f"Quali sono i Pokémon leggendari?")
filtro = pokemon["Legendary"] == True
pokemon.loc[filtro]

Quali sono i Pokémon leggendari?

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [71]:
filtro_grass = pokemon["Type 1"] == "Grass"

print(f"I pokemon leggendari di tipo 1 Grass sono:")
pokemon.loc[filtro & filtro_grass]

I pokemon leggendari di tipo 1 Grass sono:

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [66]:
filtro_ice = pokemon["Type 1"] == "Ice" 
filtro_fire = pokemon["Type 1"] == "Fire"

print(f"I pokemon leggendari di tipo 1 Ice o Fire sono:")
pokemon.loc[filtro & (filtro_ice | filtro_fire)]

I pokemon leggendari di tipo 1 Ice o Fire sono:

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [68]:
#Trasformiamo la colonna Name nell'indice
pkm = pd.read_csv("/Users/lalainegubaton/Downloads/beginner_datasets/pokemon.csv", index_col = 1)
pkm

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [80]:
#Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

atk = pokemon["Attack"] > 50
hp = pokemon["HP"] < 60
gen = pokemon["Generation"] == 1
print(f"I Pokémon della prima generazione con attacco > 50 e HP < 60 sono:")
pokemon.loc[atk & hp & gen]

I Pokémon della prima generazione con attacco > 50 e HP < 60 sono:

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False

In [ ]:
fsgwg

In [74]:
import pandas as pd
pkm_idx = pokemon.set_index["Name"]
pkm_idx

TypeError: 'method' object is not subscriptable